In [22]:
import pandas as pd
import numpy as np

In [25]:
data =  pd.read_csv('id-hw-exams.csv')
data2 =  pd.read_csv('id-section.csv')

data3 = pd.concat([data, data2])

data3 = data3.drop(columns='Homework 1 - Submission Time')
data3 = data3.drop(columns='Homework 2 - Submission Time')
data3 = data3.drop(columns='Homework 3 - Submission Time')
data3 = data3.drop(columns='Homework 4 - Submission Time')
data3 = data3.drop(columns='Homework 5 - Submission Time')
data3 = data3.drop(columns='Homework 6 - Submission Time')
data3 = data3.drop(columns='Homework 7 - Submission Time')
data3 = data3.drop(columns='Homework 8 - Submission Time')
data3 = data3.drop(columns='Homework 9 - Submission Time')
data3 = data3.drop(columns='Homework 10 - Submission Time')
data3 = data3.drop(columns='Exam 1 - Submission Time')
data3 = data3.drop(columns='Exam 2 - Submission Time')
data3 = data3.drop(columns='Exam 3 - Submission Time')

data3 = data3.fillna(0)

print(data3)

    First Name  Last Name       SID  Homework 1  Homework 1 - Max Points  \
0        Aaron     Lester  axl60952        68.0                     80.0
1         Adam     Cooper  amc28428        80.0                     80.0
2         Alec      Curry  axc64717        69.0                     80.0
3    Alexander  Rodriguez  akr14831        50.0                     80.0
4        Amber    Daniels  axd11293        54.0                     80.0
..         ...        ...       ...         ...                      ...
146          0          0         0         0.0                      0.0
147          0          0         0         0.0                      0.0
148          0          0         0         0.0                      0.0
149          0          0         0         0.0                      0.0
150          0          0         0         0.0                      0.0

     Homework 2  Homework 2 - Max Points  Homework 3  Homework 3 - Max Points  \
0          74.0                     80.0        77.0                     80.0
1          78.0                     80.0        78.0                     80.0
2          76.0                     80.0        66.0                     80.0
3          54.0                     80.0        74.0                     80.0
4          57.0                     80.0        77.0                     80.0
..          ...                      ...         ...                      ...
146         0.0                      0.0         0.0                      0.0
147         0.0                      0.0         0.0                      0.0
148         0.0                      0.0         0.0                      0.0
149         0.0                      0.0         0.0                      0.0
150         0.0                      0.0         0.0                      0.0

     Homework 4  ...  Exam 1 - Max Points  Exam 2  Exam 2 - Max Points  \
0          89.0  ...                100.0    63.0                100.0
1          87.0  ...                100.0    63.0                100.0
2          87.0  ...                100.0    78.0                100.0
3          75.0  ...                100.0    97.0                100.0
4          95.0  ...                100.0    95.0                100.0
..          ...  ...                  ...     ...                  ...
146         0.0  ...                  0.0     0.0                  0.0
147         0.0  ...                  0.0     0.0                  0.0
148         0.0  ...                  0.0     0.0                  0.0
149         0.0  ...                  0.0     0.0                  0.0
150         0.0  ...                  0.0     0.0                  0.0

     Exam 3  Exam 3 - Max Points              ID                     Name  \
0      68.0                100.0               0                        0
1      90.0                100.0               0                        0
2      83.0                100.0               0                        0
3      81.0                100.0               0                        0
4      88.0                100.0               0                        0
..      ...                  ...             ...                      ...
146     0.0                  0.0         9804556  Lee, Danielle Stephanie
147     0.0                  0.0         1783442          Edwards, Nicole
148     0.0                  0.0         6345758            Reyes, Bailey
149     0.0                  0.0         5566719             Walls, Joyce
150     0.0                  0.0  {"mode":"full"          isActive:false}

        NetID            Email Address  Section
0           0                        0      0.0
1           0                        0      0.0
2           0                        0      0.0
3           0                        0      0.0
4           0                        0      0.0
..        ...                      ...      ...
146  DSL24347    DANIELLE.LEE@UNIV.EDU      3.0
147  NXE44872  NICOLE.EDWARDS@UNIV.EDU      3.0
148  BXR62103    BAILEY.REYES@UNIV.EDU      2.0
149  JXW53347     JOYCE.WALLS@UNIV.EDU      1.0
150         0                        0      0.0

[302 rows x 34 columns]