In [25]:
import numpy as np

number = [1, 4, 7, 25, 10, 13]
pokemon = ['bulbasaur', 'charmander', 'squirtle', 'pikachu', 'caterpie', 'weedle']
evolution = ['venusaur', 'charizard', 'blastoise', 'raichu', 'butterfree', 'beedrill']
p_type = ['grass', 'fire', 'water', 'electric', 'bug', 'bug']
hp = [25, 55, 32, 34, 21, 23]

x = np.zeros(6, dtype=int)

data = np.zeros(6, dtype={
    'names':('number', 'pokemon', 'evolution', 'p_type', 'hp'),
    'formats':('f8', 'U10', 'U10', 'U10', 'f8')
    }
    )

data['number'] = number
data['pokemon'] = pokemon
data['evolution'] = evolution
data['p_type'] = p_type
data['hp'] = hp


#print(data[(data['number'] < 30)])

In [83]:

# prints only the bug pokemon by limiting the range on hp to below 25 
print(data[(data['hp'] < 24 )])
print("\n")
# prints pokemon with health less than 30 
print(data[(data['hp'] < 30)])
print("\n")
# prints only the pokemon name and hp for pokemon within this DataFrame with hp less than 30 
pokeLimit = (data[data['hp'] < 30])
print(pokeLimit[['pokemon', 'hp']])

[(10., 'caterpie', 'butterfree', 'bug', 21.)
 (13., 'weedle', 'beedrill', 'bug', 23.)]


[( 1., 'bulbasaur', 'venusaur', 'grass', 25.)
 (10., 'caterpie', 'butterfree', 'bug', 21.)
 (13., 'weedle', 'beedrill', 'bug', 23.)]


[('bulbasaur', 25.) ('caterpie', 21.) ('weedle', 23.)]

In [92]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

print(df.head(10))
print("\n")
print(df.tail(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25


      order_id  quantity            item_name  \
4612      1831         1        Carnitas Bowl
4613      1831         1                Chips
4614      1831         1        Bottled Water
4615      1832         1   Chicken Soft Tacos
4616      1832         1  Chips and Guacamole
4617      1833         1        Steak Burrito
4618      1833         1        Steak Burrito
4619      1834         1   Chicken Salad Bowl
4620      1834         1   Chicken Salad Bowl
4621      1834         1   Chicken Salad Bowl

                                     choice_description item_price
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $9.25
4613                                                NaN     $2.15
4614                                                NaN     $1.50
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $8.75
4616                                                NaN     $4.45
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

In [98]:
print(df[(df['order_id'] == 110)])

     order_id  quantity              item_name  \
252       110         1           Chicken Bowl
253       110         1            Veggie Bowl
254       110         1          Barbacoa Bowl
255       110         1  Barbacoa Crispy Tacos

                                    choice_description item_price
252  [Tomatillo Red Chili Salsa, [Rice, Cheese, Let...     $8.75
253  [Roasted Chili Corn Salsa, [Rice, Pinto Beans,...     $8.75
254  [Tomatillo Red Chili Salsa, [Rice, Cheese, Let...     $9.25
255  [Roasted Chili Corn Salsa, [Rice, Cheese, Lett...     $9.25

In [109]:
#print(df[(df['order_id'] == 18)])

limit = (df[df['order_id'] == 18])
print(limit[['item_name', 'choice_description']])

                                item_name  \
35                     Chicken Soft Tacos
36                     Chicken Soft Tacos
37                    Chips and Guacamole
38  Chips and Tomatillo Green Chili Salsa

                               choice_description
35               [Roasted Chili Corn Salsa, Rice]
36  [Roasted Chili Corn Salsa, [Cheese, Lettuce]]
37                                            NaN
38                                            NaN

In [112]:
import pandas as pd
df['item_price'] = df['item_price'].str.replace(',', '')
df['item_price'] = df['item_price'].str.replace('$', '')
df['item_price'] = df['item_price'].astype(float)

print(df.dtypes)

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object
<ipython-input-112-f08fe58a57cc>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['item_price'] = df['item_price'].str.replace('$', '')

In [135]:
maxPrice = df[df['item_price'] == df['item_price'].max()]
print(maxPrice)

      order_id  quantity                     item_name choice_description  \
3598      1443        15  Chips and Fresh Tomato Salsa                NaN

      item_price
3598       44.25

In [137]:
limit = (df[df['order_id'] == 577])
finalLimit = limit['quantity']
Sum = np.sum(finalLimit)
print(Sum)

11

In [136]:
limit = (df[df['order_id'] == 577])
finalLimit = limit['item_price']
Sum = np.sum(finalLimit)

print(Sum)

71.15

In [177]:
order = df[df['item_name'] == 'Steak Bowl']

limit = order['quantity']
Sum = np.sum(limit)

print("Total number of Steak Bowls")
print(Sum)

Total number of Steak Bowls
221

In [175]:
order = df['quantity']

limit = order
Sum = np.sum(limit)

print(Sum)


df[['order_id', 'quantity', 'item_name']]

4972

      order_id  quantity                              item_name
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

[4622 rows x 3 columns]