In [340]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [341]:
# part 1

set1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

set2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

scores3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

df1 = DataFrame.from_dict(set1)
df2 = DataFrame.from_dict(set2)
df3 = DataFrame.from_dict(scores3)
data = pd.concat([df1, df2])
print(data)
data2 = data.merge(df3)
print(data2)

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan
  subject_id first_name last_name  test_id
0          1       Alex  Anderson       51
1          2        Amy  Ackerman       15
2          3      Allen       Ali       15
3          4      Alice      Aoni       61
4          4      Billy    Bonder       61
5          5     Ayoung   Atiches       16
6          5      Brian     Black       16
7          7      Bryce     Brice       14
8          8      Betty    Btisan       15

In [342]:
# part 2 

dataf = pd.read_csv("https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-abbrevs.csv")
dataf2 = pd.read_csv("https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-population.csv")

new = pd.merge(dataf2, dataf,  how='outer', left_on=['state/region'], right_on = ['abbreviation'])
print(new)
final = new_df.drop(['abbreviation'], axis = 1)
print(final)

     state/region     ages  year   population    state abbreviation
0              AL  under18  2012    1117489.0  Alabama           AL
1              AL    total  2012    4817528.0  Alabama           AL
2              AL  under18  2010    1130966.0  Alabama           AL
3              AL    total  2010    4785570.0  Alabama           AL
4              AL  under18  2011    1125763.0  Alabama           AL
...           ...      ...   ...          ...      ...          ...
2539          USA    total  2010  309326295.0      NaN          NaN
2540          USA  under18  2011   73902222.0      NaN          NaN
2541          USA    total  2011  311582564.0      NaN          NaN
2542          USA  under18  2012   73708179.0      NaN          NaN
2543          USA    total  2012  313873685.0      NaN          NaN

[2544 rows x 6 columns]
     state/region     ages  year   population    state
0              AL  under18  2012    1117489.0  Alabama
1              AL    total  2012    4817528.0  Alabama
2              AL  under18  2010    1130966.0  Alabama
3              AL    total  2010    4785570.0  Alabama
4              AL  under18  2011    1125763.0  Alabama
...           ...      ...   ...          ...      ...
2539          USA    total  2010  309326295.0      NaN
2540          USA  under18  2011   73902222.0      NaN
2541          USA    total  2011  311582564.0      NaN
2542          USA  under18  2012   73708179.0      NaN
2543          USA    total  2012  313873685.0      NaN

[2544 rows x 5 columns]

In [343]:
# part 3

series = final.columns[final.isnull().any()]
print(series)
print("\n")
#print(final_df[series]) 

null_data = final[final.isnull().any(axis = 1)]
y = pd.DataFrame(null_data)

print(y[series])
print("\n")

print(y[series].isnull().sum())

Index(['population', 'state'], dtype='object')


       population state
2448          NaN   NaN
2449          NaN   NaN
2450          NaN   NaN
2451          NaN   NaN
2452          NaN   NaN
...           ...   ...
2539  309326295.0   NaN
2540   73902222.0   NaN
2541  311582564.0   NaN
2542   73708179.0   NaN
2543  313873685.0   NaN

[96 rows x 2 columns]


population    20
state         96
dtype: int64

In [344]:
# part 4
frame = pd.DataFrame({
    'abbreviation': ['PR', 'USA'],
        'state': ['Puerto Rico', 'United States']
        })

finals = pd.concat([dataf, frame])
new2 = pd.merge(dataf2, finals,  how='left', left_on=['state/region'], right_on = ['abbreviation'])
final2 = new2.drop(['abbreviation'], axis = 1)
select = final2.loc[final2['state/region'] == 'PR']
print(select.head(2))
print('\n')

select1 = final2.loc[final2['state/region'] == 'USA']
print(select1.head(2))
print('\n')

clean = final2.dropna(subset=['population'])
select2 = clean.loc[clean['state/region'] == 'PR']
print(select2.head(2))

     state/region     ages  year  population        state
2448           PR  under18  1990         NaN  Puerto Rico
2449           PR    total  1990         NaN  Puerto Rico


     state/region     ages  year   population          state
2496          USA  under18  1990   64218512.0  United States
2497          USA    total  1990  249622814.0  United States


     state/region     ages  year  population        state
2468           PR    total  2000   3810605.0  Puerto Rico
2469           PR  under18  2000   1089063.0  Puerto Rico

In [346]:
# part 5

data1 = pd.read_csv("https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv")

jabba = pd.DataFrame.from_dict(data1)
slave1 = clean.merge(jabba)
print(slave1)
print('\n')

density = slave1["population"] / slave1["area (sq. mi)"]
print(density)
print('\n')

skywalker = slave1.merge(density.rename('density'), left_index=True, right_index=True)

slave1.merge(density.rename('density'), left_index=True, right_index=True)

     state/region     ages  year  population        state  area (sq. mi)
0              AL  under18  2012   1117489.0      Alabama          52423
1              AL    total  2012   4817528.0      Alabama          52423
2              AL  under18  2010   1130966.0      Alabama          52423
3              AL    total  2010   4785570.0      Alabama          52423
4              AL  under18  2011   1125763.0      Alabama          52423
...           ...      ...   ...         ...          ...            ...
2471           PR  under18  2010    896945.0  Puerto Rico           3515
2472           PR  under18  2011    869327.0  Puerto Rico           3515
2473           PR    total  2011   3686580.0  Puerto Rico           3515
2474           PR  under18  2012    841740.0  Puerto Rico           3515
2475           PR    total  2012   3651545.0  Puerto Rico           3515

[2476 rows x 6 columns]


0         21.316769
1         91.897221
2         21.573851
3         91.287603
4         21.474601
           ...
2471     255.176387
2472     247.319203
2473    1048.813656
2474     239.470839
2475    1038.846373
Length: 2476, dtype: float64

,state/region,ages,year,population,state,area (sq. mi),density
0,AL,under18,2012,1117489.0,Alabama,52423,21.316769
1,AL,total,2012,4817528.0,Alabama,52423,91.897221
2,AL,under18,2010,1130966.0,Alabama,52423,21.573851
3,AL,total,2010,4785570.0,Alabama,52423,91.287603
4,AL,under18,2011,1125763.0,Alabama,52423,21.474601
...,...,...,...,...,...,...,...
2471,PR,under18,2010,896945.0,Puerto Rico,3515,255.176387
2472,PR,under18,2011,869327.0,Puerto Rico,3515,247.319203
2473,PR,total,2011,3686580.0,Puerto Rico,3515,1048.813656
2474,PR,under18,2012,841740.0,Puerto Rico,3515,239.470839
2475,PR,total,2012,3651545.0,Puerto Rico,3515,1038.846373

In [378]:
# part 6

max_p = skywalker['density'].max()
p = skywalker.loc[skywalker['density'] == max_p, ['state', 'year']]
print(p)
print('\n')

pick = skywalker[skywalker['year'] == 2010]
pick2 = pd.DataFrame.from_dict(pick)
print(pick2)
master_p = pick2['density'].max()
print(master_p)
master = pick2.loc[pick2['density'] == master_p, ['state', 'year']]
print(master)
print('\n')

                    state  year
391  District of Columbia  2013


     state/region     ages  year  population        state  area (sq. mi)  \
2              AL  under18  2010   1130966.0      Alabama          52423
3              AL    total  2010   4785570.0      Alabama          52423
90             AK  under18  2010    187902.0       Alaska         656425
91             AK    total  2010    713868.0       Alaska         656425
100            AZ  under18  2010   1628563.0      Arizona         114006
...           ...      ...   ...         ...          ...            ...
2395           WI  under18  2010   1336094.0    Wisconsin          65503
2404           WY  under18  2010    135351.0      Wyoming          97818
2405           WY    total  2010    564222.0      Wyoming          97818
2470           PR    total  2010   3721208.0  Puerto Rico           3515
2471           PR  under18  2010    896945.0  Puerto Rico           3515

          density
2       21.573851
3       91.287603
90       0.286251
91       1.087509
100     14.284889
...           ...
2395    20.397447
2404     1.383702
2405     5.768079
2470  1058.665149
2471   255.176387

[104 rows x 7 columns]
8898.89705882353
                    state  year
389  District of Columbia  2010